<template>
  <apexchart width="100%" type="line" :options="chartOptions" :series="series"></apexchart>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'

export default {
  name: 'DashboardChart',
  components: {
    apexchart: VueApexCharts,
  },
  props: {
    reviews: {
      type: Array,
    },
  },
  computed: {
    chartOptions() {
      return {
        chart: {
          id: 'created-date',
        },
        xaxis: {
          categories: this.reviews.map(el => el.createdDate)
        },
      }
    },
    series() {
      return [
        {
          name: 'AVG Score',
          data: this.reviews.map(el => el.score)
        },
        {
          name: 'Review Count',
          data: this.reviews.map(el => el.id)
        },
      ]
    },
  },
}</script>
