<template>
  <div>
    <div class="row border border-dark rounded p-3">
      <div class="col-md-4">
        <div class="input-group">
          <select class="custom-select" id="inputGroupSelect01" v-model="selectedHotel">
            <option :value="null">Select Hotel</option>
            <option v-for="(hotel, key) in hotels" :value="hotel.id" :key="key">{{ hotel.name }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <b-form-datepicker v-model="valueFrom" :min="min" :max="max" locale="en"></b-form-datepicker>
      </div>
      <div class="col-md-3">
        <b-form-datepicker v-model="valueTo" :min="min" :max="max" locale="en"></b-form-datepicker>
      </div>
      <div class="col-md-2">
        <button class="btn btn-dark" type="button" @click="submitFilter">Filter</button>
      </div>
    </div>
    <h3 class="mt-5">Average score over time</h3>
    <dashboard-chart :reviews="reviews"></dashboard-chart>
  </div>
</template>

<script>
import { BASE_URL } from '@/constants'
import DashboardChart from './DashboardChart'

export default {
  name: 'MainFilter',
  components: {
    DashboardChart,
  },
  data() {
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    const minDate = new Date(today)
    minDate.setFullYear(minDate.getFullYear() - 10)
    const maxDate = new Date(today)

    return {
      selectedHotel: null,
      valueFrom: '',
      valueTo: '',
      min: minDate,
      max: maxDate,
      hotels: [],
      reviews: [],
      error: null
    }
  },
  methods: {
    submitFilter () {
      this.error = null
      if (!this.valueFrom || !this.valueTo || !this.selectedHotel) {
        this.error = 'All fields are required.'
      }
      if (this.valueTo < this.valueFrom) {
        this.error = 'Please select the correct date range.'
      }
      if (this.error !== null) {
        alert(this.error)
        return
      }
      this.valueTo = this.valueTo + ' 23:59:59'
      this.fetchStatistic()
    },
    fetchStatistic() {
      this.axios.get(BASE_URL +
        `/review-statistic?hotel=${this.selectedHotel}&createdDate[before]=${this.valueTo}&createdDate[after]=${this.valueFrom}`)
        .then((response) => {
          this.reviews = response.data['hydra:member'].map(el => (
            {
              id: el.id,
              score: el.score,
              createdDate: el.createdDate
            }
          ))
        })
    }
  },
  mounted() {
    this.axios.get(BASE_URL + '/hotels').then((response) => {
      this.hotels = response.data['hydra:member'].map(el => ({ id: el.id, name: el.name }))
    })
  }
}
</script>
