<template>
  <div id="app" class="container">
    <main-filter></main-filter>
  </div>
</template>

<script>

import MainFilter from './components/MainFilter'

export default {
  name: 'app',
  components: {
    MainFilter
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
